<!-- <app-question-editor [type]="'Edit'" [data]="data"></app-question-editor> -->
<div class="header-content">
    <div></div>
    <h1>QUESTION LIST</h1>
    <button mat-raised-button color="primary" (click)="openUploadQuestionForm()" class="button">+</button>
</div>

<div class="table-content">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col" style="padding-left: 5%;">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let m of data">
                <th scope="row">{{m._id}}</th>
                <th scope="row">{{m.title}}</th>
                <th scope="row">
                    <button mat-flat-button (click)="openViewQuestion(m)">View</button>
                    <button mat-flat-button (click)="editQuestion(m)">Edit</button>
                    <button mat-flat-button (click)="deleteQuestion(m._id)">Delete</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>