$dark-gray: #333333;
.question-form-content {
    background-color: #FFFFFF;
    overflow: hidden;
    width: 100%;
    .top-table {
        margin-top: 3.5rem;
        display: flex;
        justify-content: space-between;
        .top-search {
            margin-left: 1.5rem;
        }
        .bnt-tool {
            ul {
                display: flex;
                justify-content: flex-end;
                li {
                    list-style: none;
                    .bnt-add {
                        outline: none;
                        margin: 1rem 2rem 0 0;
                    }
                    .bnt-reload {
                        margin: 1rem 1.8rem 0 0;
                        outline: none;
                    }
                }
            }
        }
    }
    .right-content {
        margin-top: 1.8rem;
        .mat-elevation-z8 {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 0.2rem;
            margin-bottom: 1.2rem;
            .table-border {
                .table {
                    padding: 0;
                    font-family: 'Montserrat', sans-serif;
                    margin: 0;
                    th {
                        font-size: 1.7rem;
                        font-weight: bold;
                        color: $dark-gray;
                        padding-bottom: 1.5rem;
                    }
                    td {
                        .rowT {
                            text-overflow: ellipsis;
                            max-width: 400px;
                            overflow: hidden;
                        }
                        .btn-action {
                            border: none;
                            outline: none;
                        }
                    }
                    .rowT,
                    .title-type,
                    .title-rank {
                        padding-top: 1.1rem;
                    }
                }
                .paginator {
                    margin-top: 0;
                    outline: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .top-search {
        width: 15rem;
    }
}