.header-content {
    display: flex;
    justify-content: space-around;
}

h1 {
    margin-top: 2rem;
    font-size: 3rem;
}

.button {
    padding: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    width: 2rem !important;
    height: 4rem !important;
}

.table {
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
}

th {
    font-family: 'Montserrat', sans-serif;
}

.table-content {
    padding: 1.5rem;
}