.paginator {
    max-width: 100%;
}

.form {
    width: 100%;
}

th {
    color: black;
    font-size: 1.75rem;
}

.top-table {
    display: flex;
    justify-content: space-between;
}

.bnt-top {
    outline: none;
}

li {
    list-style: none;
}

.bnt-tool ul {
    display: flex;
    justify-content: space-between;
}