<div class="top-table">
    <mat-form-field class="top-search">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. hello, how are you?" #input>
    </mat-form-field>
    <div class="bnt-tool">
        <ul>
            <li><button (click)="openUploadQuestionForm()" class="bnt-add" mat-raised-button color="primary">+</button></li>
            <li><button class="bnt-reload" mat-raised-button color="primary" (click)="loadQuestion()">
          <mat-icon>cached</mat-icon>
        </button></li>
        </ul>
    </div>
</div>

<div class="mat-elevation-z8 form">
    <table mat-table [dataSource]="data" matSort class="table">

        <!-- ID Column -->
        <ng-container matColumnDef="ID">
            <th class="text-id" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td class="title-id" mat-cell *matCellDef="let row"> {{row._id}} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="Title">
            <th class="text-title" mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td class="title-title" mat-cell *matCellDef="let row"> {{row.title}} </td>
        </ng-container>

        <ng-container matColumnDef="Action" stickyEnd>
            <th class="text-action" mat-header-cell *matHeaderCellDef>Action</th>
            <td class="title-action" mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="openViewQuestion(element)" class="btn-action" color="primary">
          <mat-icon>visibility</mat-icon>
        </button>
                <button mat-icon-button (click)="editQuestion(element)" class="btn-action" style="color: #0e918c;">
          <mat-icon>create</mat-icon>
        </button>
                <button mat-icon-button (click)="deleteQuestion(element._id)" class="btn-action" color="warn">
          <mat-icon>delete</mat-icon>
        </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator class="paginator" [pageSize]="10" [length]="dataLength"></mat-paginator>
</div>