.sidebar-layout{
  display: flex;
  width: 100vw;

  .sidebar-content{
    width: 10vw;
    height: 100vh;
    background-color: #F5F5F5;
    a{
      text-decoration: none;
      font-size: 20px;
      font-family: 'Montserrat', sans-serif;
      color: #000000;
      display: block;
    }
    ul>li{
      margin-left: 1vw;
      list-style: none;
     line-height: 8vh;

    }
  }

  .main-content{
    width: 90vw;
  }
}
