<app-nav-bar class="nav"></app-nav-bar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div>
      <ul>
        <li>
          <a routerLink="question">Question</a>
        </li>
        <li>
          <a routerLink="leader">Leader</a>
        </li>
        <li>
          <a routerLink="user">User</a>
        </li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
