$purple: #3f51b5;
$light-purple: #F3F3F3;
$dark-gray: #333333;

.sidenav-container{
    width: 100%;
    height: 100vh;
}

.mat-drawer-inner-container{
    overflow: hidden;
}

.sidenav{
    position: relative;
    width: 17rem;
    height: 100%;
	float: left;
	text-align: center;
	transition: all 0.3s ease-in-out;
    // border: 1px solid silver;
    overflow: hidden;
    
    ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .back{
            width: 16.5rem;
            height: 17rem;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            cursor: pointer;
            padding: 0;
            margin: 0;
            border: none;

            a{
                width: 7rem;
                height: 7rem;
                border-radius: 2rem;
                background-color: $light-purple;
                margin-left: 4.5rem;
                padding: .5rem;
                    
                
                svg{
                    fill: $purple;
                }

                &:hover{
                    background-color: $purple;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        
                   svg{
                        fill: white;
                    }
                }
    
                &:focus{
                    background-color: $purple;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        
                   svg{
                        fill: white;
                    }
                }
                    
            }
                
            span{
                padding-top: 1rem;
                margin: 0;
                font-size: 1.75rem;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                color: $dark-gray;
            }
        }
        .log-out{
            margin-top: 35%;

            button{
                font-size: 1.75rem;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                color: $dark-gray;
            }
            
        }
    }
}

mat-sidenav-content{
    background-color: $light-purple;

    div{
        padding-top: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;

        h1{
            font-size: 3.5rem;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            color: $dark-gray;
            margin: 0;
        }
    }
}