<app-nav-bar></app-nav-bar>
<!-- <div class="sidebar-layout">
      <div class="sidebar-content">
        <ul>
          <li>
            <a routerLink="question" class="button-click">Question</a>
          </li>
          <li>
            <a routerLink="leader">Leader</a>
          </li>
          <li>
            <a routerLink="user">User</a>
          </li>
        </ul>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div> -->

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div class="sidebar-content">
            <ul>
                <li>
                    <a routerLink="question" class="button-click">Question</a>
                </li>
                <li>
                    <a routerLink="leader">Leader</a>
                </li>
                <li>
                    <a routerLink="user">User</a>
                </li>
            </ul>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>