<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
<table mat-table [dataSource]="users" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="rowM">ID</th>
        <td mat-cell *matCellDef="let element" class="rowM"> {{element._id}} </td>
    </ng-container>

    <ng-container matColumnDef="displayName">
        <th mat-header-cell *matHeaderCellDef class="rowM">Display Name</th>
        <td mat-cell *matCellDef="let element" class="rowM"> {{element.displayName}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element" class="rowM"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef>Rank</th>
        <td mat-cell *matCellDef="let element" class="rowM"> {{element.rank}} </td>
    </ng-container>

    <ng-container matColumnDef="point">
        <th mat-header-cell *matHeaderCellDef>Point</th>
        <td mat-cell *matCellDef="let element" class="rowM"> {{element.point}} </td>
    </ng-container>

    <ng-container matColumnDef="timeCreate">
        <th mat-header-cell *matHeaderCellDef class="rowM">Time Create</th>
        <td mat-cell *matCellDef="let element" class="rowM">{{element.timeCreate}}</td>
    </ng-container>

    <ng-container matColumnDef="Action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button>Delete</button>
            <button mat-button color="primary" (click)="editUser(element._id)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
</table>
<mat-paginator class="paginator" [pageSize]="10" [length]="dataLength"></mat-paginator>