mat-toolbar{
  border: 1px solid rgb(202, 202, 202);
  font-family: 'Montserrat', sans-serif;

  .sidebar-content {
    flex: 1 1 auto;
  }

  button{
    font-family: 'Montserrat', sans-serif;
  }

}
