.container {
    max-height: 500px;
    .card-content {
        margin-top: 10px;
        .mat-typography {
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 15px;
        }
    }
}