@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");
$font-size1: 1.5rem;
$font-size2: 1.75rem;
$font-family: 'Montserrat';

h1{
    font-size: 3rem;
}

.question-container{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
}

.type-rank{
    padding: 0;
    padding-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: $font-size1;
}
.button{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.question-form-head{
    display: flex;
    flex-direction: column;
}

.ques-input{
    font-family: "Montserrat", sans-serif;
    font-size: $font-size2;
}

.question-ans{
    font-size: $font-size2;
    font-family: 'Montserrat', sans-serif;
    padding: 0.8rem;
}

.question-form-ans{
    margin-top: 1rem;
}

.ques-group{
    display: flex;
    justify-content: space-between;
}

.example-full-width{
    margin-right: 1rem;
    width: 46.875rem;
}

#ans-group{
    width: 23rem !important;
}

.question-form-bottom{
    margin-top: 1rem;
    padding: 0;
    font-size: $font-size1;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}
.radio-group{
    width: 50%;
    padding: 0;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

