<div class="page-content">
  <div class="container-form" id="container">
    <div class="form-container sign-in-container">
      <form class="form-content">
        <h2>Create Account With EnQ</h2>
        <div class="form-control">
          <input type="text" id="user-input" class="form-input" placeholder="Username" formControlName="userName" required autocomplete="off">
        </div>
        <div class="form-control">
          <input type="email" id="email-input" class="form-input" placeholder="Email" formControlName="email" required autocomplete="off">
        </div>
        <div class="form-control">
          <input type="password" id="password-input" class="form-input" placeholder="Password" formControlName="password">
        </div>
        <div class="form-control">
          <input type="password" id="confirm-password-input" class="form-input" placeholder="Confirm Password" formControlName="password">
        </div>
        <button type="submit">Sign Up</button>
        <!-- <p>If you don't have an account <span id="signUp" (click) = onClickSignUp()>Sign up</span> here</p> -->
      </form>
    </div>

    <!-----------   overlay   -------------->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <!-- <h1>Hello, Friend!</h1>
          <p>Enter your details and start journey with us</p>
          <button class="ghost" id="signUp" (click) = onClickSignUp()>Sign Up</button> -->
          <img class="image" src="../../../assets/login.svg">
          <p class="quote">Improve your English with EnQ</p>
        </div>

      </div>

    </div>
  </div>
</div>
