.main {
    display: flex;
    flex-direction: row;
}

.left-side {
  max-width: 300px;
  padding: 20px;
  margin: 20px;
  .avatar-wrapper {
      text-align: center;
      margin-bottom: 20px;
  }
}

.right_side {
  display: flex;
  flex-direction: row;
}

.avatar {
    border-radius: 50%;
    max-width: 75px;
}

.full-width {
    width: 100%;
}

.width-45 {
    width: 45%;
}

.inp-wrapper {
    display: flex;
    justify-content: space-between;
}

.friendListTable {
  display: block;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.testExamHistory {
  width: 300px;
  height: 400px;
  margin: 20px;
}

.trow {
  width: 100px;
}
