.main {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    .left-side {
        width: 33rem;
        height: 38rem;
        padding: 20px;
        margin: 20px;
        .avatar-wrapper {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .avatar {
        border-radius: 50%;
        max-width: 75px;
    }
    .full-width {
        width: 100%;
    }
    .width-45 {
        width: 45%;
    }
    .inp-wrapper {
        display: flex;
        justify-content: space-between;
    }
    .friendListTable {
        width: 33rem;
        height: 38rem;
        margin: 20px;
    }
    .testExamHistory {
        width: 45rem;
        height: 38rem;
        margin: 20px;
    }
    .trow {
        width: 20rem;
        color: black;
    }
    .title-card {
        text-align: center;
    }
    .btn-submit {
        text-align: center;
        button {
            outline: none;
        }
    }
    .table-history {
        width: 100%;
    }
    .text {
        text-align: center;
        margin-top: 50%;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        display: flex;
        flex-direction: column;
        .testExamHistory {
            width: 33rem;
        }
    }
}